{
    "presets": [
        "es2015",
        "stage-0",
        "react"
    ],
    "plugins": [
        [
            "i18n-tag-translate",
            {
                "groupDir": "./src",
                "globalImport": true // Adds import i18n, { i18nConfig } from "es2015-i18n-tag"; to the output
            }
        ]
    ],
    "env": {
        "development": {
            "plugins": [
                "react-hot-loader/babel"
            ]
        },
        "production": {
            "presets": [
                "react-optimize"
            ],
            "plugins": [
                [
                    "i18n-tag-translate",
                    {
                        "translation": "./translations/translation.de.json", // These translations will be baked into the release build
                        "groupDir": "./src", // Adds __translationGroup const to each module
                        "globalImport": true, // Adds import i18n, { i18nConfig } from "es2015-i18n-tag"; to the output
                        "config": {
                            "locales": "de-DE" // Sets default locale for release build
                        }
                    }
                ]
            ]
        }
    }
}